.imgW {
    width: 320px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

.col-4 {
    line-height: 0px;
}

.footerspaceArea {
    height: 40px;
}

/* nav */

.logo {
    /* margin-top: 60px;
      margin-bottom: 60px; */
    /* margin-right: 32px; */
    /* margin-left: 54px; */
}

.button-44 A {
    /* margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 32px;
    margin-left: 32px; */

    color: #b13954;
    background: #fffdff;
    border-radius: 11px;
    border-color: #b13954;
    border: 1px solid;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    line-height: 16px;
    height: 24px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 100%;
    padding: 4px 0px;
}

.button-44-ac A {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 32px;
    margin-left: 32px;
    color: #ffe1dd;
    background: #f94b55;
    border-radius: 11px;
    border-color: #b13954;
    border: 1px solid;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    line-height: 16px;
    height: 24px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 100%;
    padding: 4px 0px;
}

.button-addyin {
    background-color: #00c2ae;
    border: 1px solid #2a8387;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    /* line-height: 100%; */
    width: 100px;
    margin-top: 12px;
    outline: 0;
    text-align: center;
}

A {
    text-decoration: none;
    /* padding: 8px 15px; */
    /* color: #000; */
}

A:hover {
    text-decoration: none;
}
